<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/assets/img/weather.png"/>
        <link rel="stylesheet" href="/assets/css/style.css"/>
    </head>
    <body>
        {{> header}}
        <main>
            <p class="help">{{helpText}}</p>
        </main>
        {{> footer}}
    </body>
</html>