html, body {
    width: 100%;
    height: 100%;
}

body {
    color: #333333;
    font-family: Arial, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header, main {
    padding: 0 16px;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

.nav-menu a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

main {
    flex-grow: 1;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

img.about {
    width: 210px;
}

.help {
    white-space: pre-wrap;
    line-height: 1.4;
}

#weatherInput {
    border: 1px solid #cccccc;
    padding: 8px;
}

#weatherSearch {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

.error {
    color: red;
}

.hidden {
    display: none;
}